.App {
  min-height: 100vh;
  font-family: "Lato";
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

header {
  height: 95px;
  background-color: #daed49;
  line-height: 90px;
  font-size: 35px;
  font-weight: bold;
  text-align: left;
  padding-left: 65px;
}

article {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
}

@media screen and (max-width: 1000px) {
  article {
    flex-direction: column;
  }
}

#img-wrapper {
  text-align: center;
}

#logo {
  margin-top: 41px;
  position: relative;
  left: 23px;
}

#left-pane,
#right-pane {
  flex-grow: 1;
  flex-basis: 0;
}

.text-wrapper {
  font-size: 60px;
  margin: 120px 197px 0;
}

.episodes-wrapper .episode:nth-child(2n + 1) .episode-title {
  color: #00bdd4;
}

.episodes-wrapper .episode:nth-child(2n) .episode-title {
  color: #bdd800;
}

.episodes-wrapper {
  margin: 120px 76px;
}

footer {
  background-color: #464646;
  color: #cccccc;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  height: 67px;
  line-height: 67px;
}
