.App {
  min-height: 100vh;
  font-family: "Lato";
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

header {
  height: 95px;
  background-color: #daed49;
  line-height: 95px;
  font-size: 35px;
  text-align: left;
  padding-left: 65px;
}

article {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
}

@media screen and (max-width: 1000px) {
  article {
    flex-direction: column;
  }
}

#img-wrapper {
  text-align: center;
}

#logo {
  width: 70%;
}

#left-pane,
#right-pane {
  flex-grow: 1;
  flex-basis: 0;
}

#left-pane {
  font-size: 60px;
}

#right-pane {
  background-color: greenyellow;
}

footer {
  background-color: #464646;
  color: #cccccc;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  height: 67px;
  line-height: 67px;
}
