.episode {
  display: flex;
  font-weight: bold;
  height: 106px;
}

.episode-no {
  font-size: 25px;
  border-right: 1px #d1d1d1 solid;
  width: 120px;
  padding-top: 16px;
}

.episode-details {
  margin: 16px 29px;
}

.episode-title {
  font-size: 25px;
  margin-bottom: 16px;
}

.episode-date {
  font-size: 20px;
  color: #959595;
}
