.episode {
  display: flex;
  font-weight: bold;
  min-height: 106px;
}

.episode-no {
  font-size: 25px;
  border-right: 1px #d1d1d1 solid;
  width: 120px;
  padding-top: 16px;
}

.episode-details {
  margin: 16px 29px;
}

.episode-title {
  font-size: 25px;
  margin-bottom: 16px;
}

.episode-date {
  font-size: 20px;
  color: #959595;
}

@media (max-width: 1500px) {
  .episode {
    flex-grow: 1;
    min-height: 126px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px #d1d1d1 solid;
    overflow: hidden;
  }

  .episode:last-child {
    border: none;
  }

  .episode-no {
    font-size: 18px;
    border-right: none;
    margin-bottom: 13px;
  }

  .episode-details {
    margin: 0;
    flex-grow: 1;
  }

  .episode-title {
    font-size: 18px;
  }

  .episode-date {
    font-size: 15px;
  }
}
